.my_photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid cyan;
}
.App-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.App {
  background-color: rgb(232, 232, 232);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}
.my_info {
  max-width: 700px;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.313);
  padding: 10px;
  border-radius: 20px;
  border: 1px rgb(0, 118, 118) solid;
}
