* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  background-color: rgb(231, 231, 231);
  padding: 10px;
  border-radius: 8px;
}
.container {
  width: 100%;
  min-height: 100dvh;
}
.dark_mode_text {
  color: white;
}

.dark_mode_body_bg {
  background-color: rgb(34, 34, 34);
}
.dark_mode_article_bg {
  background-color: rgb(0, 85, 85);
}
